body {
  padding: 3%;
  background-color: #f5f6fa;
}

.nav {
  background-color: #fff;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 1px 1px;
}

.nav-link {
  list-style-type: none;
  padding: 6px;
  margin: 2px 10px;
  font-size: 18px;
}

.link {
  text-decoration: none;
}

.avatar {
  float: right;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.mySelect {
  width: 111px;
}

form {
  margin-top: 22px;
}

.book-store {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 22px;
  margin: 10px 1px;
}

button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.book-title {
  margin: 2px;
}

.add-btn {
  background-color: #0092fa;
  padding: 6px;
}

.remove-btn {
  background-color: #f00;
  padding: 3px;
}

.update-btn {
  background-color: #0092fa;
  padding: 9px;
}
